
#top {
    position: relative;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    background: #2B7C59;
    height: 34px;
    color: white;
    font-weight: bold;

}

#bottom {
    /*position: relative;*/
    clear: both;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    color: darkgray;
    border-top: 1px solid #ccc;
    background-color: #f5f5f5;
    /*box-sizing: border-box;*/
}

#left {
    float: left;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    padding: 5px;
    min-height: 500px
}

.content_heading {
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 10px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: white;
    font-weight : bold;
    text-decoration : none;
}

.total{
    position:relative;
    top:50px;
    margin: 0 auto;
    background-color:#eeeeee;
    height:auto;
    border:2px solid #000;
    border-color:rgb(82,115,154);
    overflow: hidden;
}

.menu{
    width:20%;
    float:left;

}

.content{
    width:79%;
    float:right;
    height:auto;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


